/* pallete comes from: https://marvelapp.com/styleguide/design/color-scheme */
$blue: #1FB6FF;
$pink: #FF16D1;
$purple: #7E5BEF;

$snow: #F9FAFC;
$dark-snow: #EFF2F7;
$silver: #8492A6;
$black: #1F2D3D;
