@import 'bourbon';
@import 'neat';
@import './modules/variables.scss';
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:200,300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
html {
  height: 100%;
  body {
    color: $black;
    font-family: 'Fira Sans', verdana, arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    height: 100%;
    margin: 0;
    #root {
      height: 100%;
    }
  }
}


.content {
  @include span-columns(12 of 12);
  height: 100%;
}

.header {
  @include span-columns(12);
  background-color: $black;
  border-bottom: 6px solid $pink;
  min-height: 40vh;
  padding-top: 5vh;
  position: relative;
}

.header__logo {
  background-image: url('../images/zest-logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 20vh;
}

.header__title {
  color: $snow;
  font-size: 40px;
  font-weight: 200;
  letter-spacing: 2px;
  margin: auto;
  padding: 40px;
  text-align: center;
  text-transform: uppercase;
}

.body {
  @include span-columns(12);
  background-color: $snow;
  padding-bottom: 200px;
}

.section {
  padding: 80px 20px;
}

.section__header {
  color: $purple;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 10px;
}

.section__subheader {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.section__text {
  margin-bottom: 40px;
}

.section__code_block {
  background-color: $dark-snow;
  border-radius: 4px;
  color: $silver;
  font-family: 'Ubuntu Mono', monospace;
  margin: 20px 0 40px;
  padding: 10px;
  line-height: 28px;
  .highlight {
    color: $pink;
  }
}

.example-btn {
  background-color: $purple;
  border: none;
  border-radius: 4px;
  color: $snow;
  font-size: 14px;
  margin-top: 40px;
  outline: none;
  padding: 10px 20px;
}

.demo__form {
  @include span-columns(6);
  margin-bottom: 80px;
}

.demo__form__label {
  @include span-columns(12);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
}

.demo__form__input {
  outline: none;
  @include span-columns(12);
  border: 1px solid $dark-snow;
  border-radius: 4px;
  font-size: 18px;
  margin: 5px 0 10px;
  padding: 12px;
  height: 50px;
  background-color: #fff;
  &.disabled {
    opacity: 0.6;
  }
}


.demo__rendering {
  @include span-columns(6);
  background-color: #C0CCDA;
  border-radius: 4px;
  height: 250px;
  padding-top: 100px;
  text-align: center;
}

.demo__rendering__btn {
  background-color: $blue;
  border: none;
  border-radius: 60px;
  color: $snow;
  font-size: 20px;
  font-weight: 300;
  outline: none;
  padding: 10px 20px;
  letter-spacing: 1px;
}

.footer {
  @include span-columns(12);
  background-color: $black;
  padding: 20px 20px 80px;
}

.footer__links {
  padding: 0;
  list-style: none;
  li {
    padding: 5px 0px;
  }
}

.footer_link {
  color: $blue;
  text-decoration: none;
}

@media(max-width: 900px) {
  .demo__form {
    @include span-columns(12);
  }

  .demo__rendering {
    @include span-columns(12);
  }
}
